<ul class="navbar-nav">
    <li class="nav-item">
        <a asp-controller="UserAccount" asp-action="Registration" class="nav-link text-white">
            Register
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="UserAccount" asp-action="Login" class="nav-link text-white">
            Login<i class="fa-solid fa-right-to-bracket ml-2"></i>
        </a>
    </li>
</ul>