@using ArtAuction.Core.Domain.Enums
@model ArtAuction.WebUI.Models.Profile.UserViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">Profile @Model.Login</h1>
    <h4>Balance: @ViewData["AccountBalance"] $</h4>

    <form asp-controller="Payment" asp-action="ReplenishPersonalAccount">
        <div class="form-group">
            <input id="replenishmentAmount" name="replenishmentAmount" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Replenish" class="btn btn-lg btn-primary btn-block" />
        </div>
    </form>


    @if (User.Identity.IsAuthenticated && User.IsInRole(UserRole.Seller.ToString()))
    {
        <a asp-controller="Payment" asp-action="BuyVipStatus" class="btn btn-lg btn-primary">
            Buy VIP on @(ViewData["VipStatusDaysCount"]) days (@(ViewData["VipStatusCost"])$)
        </a>
        <a asp-controller="Payment" asp-action="BuyVipByCard" class="btn btn-lg btn-primary">
            Buy VIP by Card
        </a>
    }

</div>