@model ArtAuction.WebUI.Models.Profile.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">Profile @Model.Login</h1>
    <h4>Balance: @Model.AccountBalance $</h4>
</div>