@model ArtAuction.WebUI.Models.Profile.UserProfileViewModel

@{
    ViewData["Title"] = "User Profile";
}

<div class="text-center">
    <h1 class="display-4">Profile @Model.User.Login (@Model.User.AvgRate)</h1>
</div>
