@model ArtAuction.WebUI.Models.Profile.UserProfileViewModel

@{
    ViewData["Title"] = "User Profile";
}

<div class="text-center">
    <h1 class="display-4">Profile @Model.User.Login</h1>
    <h3>Rate: @Model.User.AvgRate.ToString("F1")</h3>
</div>

<partial name="Profile/_ReviewsModalPartial" model="Model" />
<partial name="Profile/_ComplaintsModalPartial" model="Model" />

<partial name="Profile/_AddComplaintModalPartial" model="Model" />
<partial name="Profile/_AddReviewModalPartial" model="Model" />

<partial name="Profile/_UserAuctionsPartial" model="Model" />