@{
    ViewData["Title"] = "Replenishment Successful!s";
}

<div class="justify-content-center text-center">
    <h4 class="mb-3">You were blocked by Admin!</h4>
    <h6>Contact the managers for more details</h6>

    <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-primary">Back to Home Page</a>
</div>
