@model ArtAuction.WebUI.Models.Profile.UserProfileViewModel

<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addReviewModal">
    Add Review
</button>

<!-- AddComplaintModal -->
<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <form asp-action="AddReview" asp-controller="Profile">
                <div class="modal-header">
                    <h5 class="modal-title" id="addReviewModalLabel">Add Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="UserLoginOn" name="UserLoginOn" value="@Model.User.Login" hidden />

                    <div class="form-group">
                        <select id="Rate" name="Rate" class="form-select" aria-label="Rate">
                            <option value="5" selected>Five</option>
                            <option value="4">Four</option>
                            <option value="3">Three</option>
                            <option value="2">Two</option>
                            <option value="1">One</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" autofocus>Review</label>
                        <textarea id="Description" name="Description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Send Review" />
                </div>
            </form>

        </div>
    </div>
</div>