@model ArtAuction.WebUI.Models.Profile.UserProfileViewModel

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#complaintsModal">
    Show Complaints
</button>

<!-- ComplaintsModal -->
<div class="modal fade" id="complaintsModal" tabindex="-1" role="dialog" aria-labelledby="complaintsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="complaintsModalLabel">Complaints</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">From</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    @foreach (var complaint in Model.Complaints)
                    {
                        <tr>
                            <th scope="row">@complaint.DateTime.ToString("MM/dd/yyyy HH:mm:ss")</th>
                            <td>@complaint.UserLoginFrom</td>
                            <td>@complaint.Description</td>
                        </tr>
                    }

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>