@model ArtAuction.WebUI.Models.AuctionCatalog.AuctionCatalogViewModel

<div class="d-flex flex-wrap justify-content-around">
    @foreach (var auction in Model.Auctions)
    {
        <div class="col-xl-4 col-sm-6 p-2">
            <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Lot" asp-route-auctionNumber="@auction.AuctionNumber">
                @auction.AuctionNumber
            </a>

            <a class="btn btn-outline-secondary" asp-action="GetUserProfile" asp-controller="Profile" asp-route-userLogin="@auction.SellerLogin">
                @auction.SellerLogin
            </a>
        </div>
    }
</div>