@{
    ViewData["Title"] = "Replenishment Successful!s";
}

<div class="justify-content-center text-center">
    <h4 class="mb-3">Replenishment Successful!</h4>

    <a asp-controller="Profile" asp-action="Index" class="btn btn-lg btn-primary">Back to Profile</a>
</div>
