


<div id="chat">
    <div id="chatMessageList">

    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="chat-form">
            <form class="form-horizontal" action="javascript:void(0);" method="POST" onsubmit="sendMessage()">
                <div class="row">
                    <div class="col-sm-10 col-xs-8">
                        <input type="text" class="form-control" id="messageText" name="messageText" placeholder="Message" />
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <button type="submit" class="btn btn-success btn-block">Send</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>
