@model ArtAuction.WebUI.Models.Lot.AuctionLotViewModel

@{
    ViewData["Title"] = "Lot";
}

<div class="text-center">
    <h1 class="display-4">Lot @Model.AuctionLot.AuctionNumber</h1>

    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.AuctionLot.Image)" alt="@Model.AuctionLot.LotName Photo" />

    <div>
        <ul id="chat">
        </ul>
    </div>
    <div>
        <form action="javascript:void(0);" method="POST" onsubmit="sendMessage()">
            <input id="auctionNumber" value="@Model.AuctionLot.AuctionNumber" hidden />
            <input type="text" id="messageText" placeholder="Message...">
            <input type="submit" value="Send">
        </form>
    </div>
</div>


<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/lotPage.js"></script>